<div id="homebox">
	<div class="card">
		<img src="https://http.cat/404" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">Suggested Outfit</h5>
			<p class="card-text">Suggested outfit goes here</p>
		</div>
	</div>
	<div class="card">
		<img src="https://http.cat/404" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">Random Outfits</h5>
			<p class="card-text">Random outfits go here</p>
		</div>
	</div>
	<div class="card">
		<img src="https://http.cat/404" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">Instant Outfit</h5>
			<p class="card-text">Instant outfit goes here</p>
		</div>
	</div>
	<div class="card">
		<img src="https://http.cat/404" class="card-img-top">
		<div class="card-body">
			<h5 class="card-title">Weather Forecast</h5>
			<p class="card-text">Weather Forecast</p>
		</div>
	</div>
</div>