<div id="homebox" style="margin-top: 25px;">
	<div class="card">
		<!-- <img src="https://http.cat/404" class="card-img-top"> -->
		<div class="card-body" style="text-align: center;">
			<h1 class="card-title">Saved Pieces</h1>
			<p class="card-text">Add and view saved pieces</p>
			<a href="/savedpieces" class="stretched-link"></a>
		</div>
	</div>
	<div class="card">
		<!-- <img src="https://http.cat/404" class="card-img-top"> -->
		<div class="card-body" style="text-align: center;">
			<h1 class="card-title">Saved Fits</h1>
			<p class="card-text">Add and view saved fits</p>
			<a href="/savedfits" class="stretched-link"></a>
		</div>
	</div>
	<div class="card">
		<!-- <img src="https://http.cat/404" class="card-img-top"> -->
		<div class="card-body" style="text-align: center;">
			<h1 class="card-title">Settings</h1>
			<a href="/settings" class="stretched-link"></a>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<h1 class="card-title">Weather Forecast</h1>
			<div id="ww_cff6116178ae3" v='1.3' loc='auto' a='{"t":"responsive","lang":"en","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"fahrenheit","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","sl_tof":"7"}'>More forecasts: <a href="https://oneweather.org/london/30_days/" id="ww_cff6116178ae3_u" target="_blank">London weather</a></div><script async src="https://app2.weatherwidget.org/js/?id=ww_cff6116178ae3"></script>
		</div>
	</div>
</div>