<div class="container col-sm-4 loginreg py-5"> <!--- Made it similar to what the login page and registration pages are --->
  <h1>Logged out successfully! Come back soon!</h1>
	<h3>Click Here to <a href="/login">Login.</a></h3>
</div>

<!-- {{> message }} Removed since this is repeating the same message-->