{{> message}}
<div class="container p-5">
	<h1 class="d-inline-block">Your Closet</h1>
	<button class="float-end btn btn-primary p-2 m-3" type="button" onclick="window.location.href='/delete'">
		<h5 class="p-0 m-0">Remove a piece</h5>
	</button>
	<button class="float-end btn btn-primary p-2 m-3" type="button" data-toggle="collapse" data-target="#addPieceDrawer"
		aria-expanded="false" aria-controls="addPieceDrawer">
		<h5 class="p-0 m-0">Add a new piece</h5>
	</button> <br>
	
	<div class="collapse p-5" id="addPieceDrawer">
		<!-- Add Piece Form -->
		<form action="/savedpieces" method="POST" class="row" enctype="multipart/form-data">
			<div class="col px-1">
				<!-- Photo Upload -->
				<div class="form-group pt-3">
					<label class="form-input pb-2" for="newPiecePhoto">Upload Photo:</label><br>
					<input class="form-control-file" type="file" id="newPiecePhoto" name="image" accept="image/*" required>
					<img class="pt-3" src="https://http.cat/404" id="uploadedPhoto" style="max-width: 100%">
				</div>
			</div>

			<div class="col-3 px-1">
				<div>
					<div class="form-group pt-3" id="categories">
						<label class="pb-2">Piece Category:</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="topRadioButton" name="category" value="top"
								data-toggle="collapse" data-target="#topSubcat" aria-expanded="false"
								aria-controls="topSubcat" required>
							<label class="form-check-label" for="topRadioButton">Top</label>
							<div class="collapse" id="topSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="shortSleeveSelect"
										name="subcategory" value="shortSleeve" required>
									<label class="form-check-label" for="shortSleeveSelect">Short Sleeve</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="longSleeveSelect"
										name="subcategory" value="longSleeve">
									<label class="form-check-label" for="shortSleeveSelect">Long Sleeve</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="sweaterSelect" name="subcategory"
										value="sweater">
									<label class="form-check-label" for="sweaterSelect">Sweater</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="bottomRadioButton" name="category"
								value="bottom" data-toggle="collapse" data-target="#bottomSubcat" aria-expanded="false"
								aria-controls="bottomSubcat">
							<label class="form-check-label" for="bottomRadioButton">Bottom</label>
							<div class="collapse" id="bottomSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="shortsSelect" name="subcategory"
										value="shorts" required>
									<label class="form-check-label" for="shortsSelect">Shorts</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="pantsSelect" name="subcategory"
										value="pants">
									<label class="form-check-label" for="pantsSelect">Pants</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="skirtSelect" name="subcategory"
										value="skirt">
									<label class="form-check-label" for="skirtSelect">Skirt</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="fullbodyRadioButton" name="category"
								value="fullbody" data-toggle="collapse" data-target="#fullbodySubcat"
								aria-expanded="false" aria-controls="fullbodySubcat">
							<label class="form-check-label" for="fullbodyRadioButton">Full-Body</label>
							<div class="collapse" id="fullbodySubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="onepieceSelect" name="subcategory"
										value="onepiece" required>
									<label class="form-check-label" for="onepieceSelect">One-Piece</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="dressSelect" name="subcategory"
										value="dress">
									<label class="form-check-label" for="dressSelect">Dress</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="footwearRadioButton" name="category"
								value="footwear" data-toggle="collapse" data-target="#footwearSubcat"
								aria-expanded="false" aria-controls="footwearSubcat">
							<label class="form-check-label" for="footwearRadioButton">Footwear</label>
							<div class="collapse" id="footwearSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="sneakersSelect" name="subcategory"
										value="sneakers" required>
									<label class="form-check-label" for="sneakersSelect">Sneakers</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="bootsSelect" name="subcategory"
										value="boots">
									<label class="form-check-label" for="bootsSelect">Boots</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="heelsSelect" name="subcategory"
										value="heels">
									<label class="form-check-label" for="heelsSelect">Heels</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="accessoryRadioButton" name="category"
								value="accessory" data-toggle="collapse" data-target="#accessorySubcat"
								aria-expanded="false" aria-controls="accessorySubcat">
							<label class="form-check-label" for="accessoryRadioButton">Accessory</label>
							<div class="collapse" id="accessorySubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="jewelrySelect" name="subcategory"
										value="jewelry" required>
									<label class="form-check-label" for="jewelrySelect">Jewelry</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="headwearSelect" name="subcategory"
										value="headwear">
									<label class="form-check-label" for="headwearSelect">Headwear</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="socksSelect" name="subcategory"
										value="socks">
									<label class="form-check-label" for="socksSelect">Socks</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="eyewearSelect" name="subcategory"
										value="eyewear">
									<label class="form-check-label" for="eyewearSelect">Eyewear</label>
								</div>
							</div>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" id="outerwearRadioButton" name="category"
								value="outerwear" data-toggle="collapse" data-target="#outerwearSubcat"
								aria-expanded="false" aria-controls="outerwearSubcat">
							<label class="form-check-label" for="outerwearRadioButton">Outerwear</label>
							<div class="collapse" id="outerwearSubcat" data-parent="#categories">
								<div class="form-check">
									<input class="form-check-input" type="radio" id="coatSelect" name="subcategory"
										value="coat" required>
									<label class="form-check-label" for="coatSelect">Coat</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="jacketSelect" name="subcategory"
										value="jacket">
									<label class="form-check-label" for="jacketSelect">Jacket</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" id="vestSelect" name="subcategory"
										value="vest">
									<label class="form-check-label" for="vestSelect">Vest</label>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group pt-3">
						<label class="pb-2">Style:</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="casual" name="style">
							<label class="form-check-label" for="casual">Casual</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="formal" name="style">
							<label class="form-check-label" for="formal">Formal</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="athletic" name="style">
							<label class="form-check-label" for="athletic">Athletic</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="party" name="style">
							<label class="form-check-label" for="party">Party</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="warm" name="style">
							<label class="form-check-label" for="warm">Warm</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="rain" name="style">
							<label class="form-check-label" for="rain">Rain</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="snow" name="style">
							<label class="form-check-label" for="snow">Snow</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="fancy" name="style">
							<label class="form-check-label" for="fancy">Fancy</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="office" name="style">
							<label class="form-check-label" for="office">Office</label>
						</div>
					</div>
				</div>
			</div>

			<div class="col-3 px-1">
				<div>
					<div class="form-group pt-3">
						<label class="pb-2">Color:</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="red" name="color">
							<label class="form-check-label" for="red">Red</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="orange" name="color">
							<label class="form-check-label" for="orange">Orange</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="yellow" name="color">
							<label class="form-check-label" for="yellow">Yellow</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="green" name="color">
							<label class="form-check-label" for="green">Green</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="blue" name="color">
							<label class="form-check-label" for="blue">Blue</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="purple" name="color">
							<label class="form-check-label" for="purple">Purple</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="black" name="color">
							<label class="form-check-label" for="black">Black</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="white" name="color">
							<label class="form-check-label" for="white">White</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="gray" name="color">
							<label class="form-check-label" for="gray">Gray</label>
						</div>
					</div>

					<div class="form-group pt-3">
						<label class="pb-2">Pattern:</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="plaid" name="pattern">
							<label class="form-check-label" for="plaid">Plaid</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="polka" name="pattern">
							<label class="form-check-label" for="polka">Polka-Dotted</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="camo" name="pattern">
							<label class="form-check-label" for="camo">Camo</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" value="graphic" name="pattern">
							<label class="form-check-label" for="graphic">Graphic</label>
						</div>
					</div>
				</div>
			</div>

			<input class="btn btn-primary mt-4" type="submit" value="Add" id="submitAdd">
			<input class="btn btn-secondary mt-1" type="reset" value="Cancel" id="cancelAdd" data-toggle="collapse"
				data-target="#addPieceDrawer" aria-expanded="false" aria-controls="addPieceDrawer">
		</form>
	</div>

	<!-- Dropdowns -->
	<div class="container p-0 m-0 mt-5">
		{{#each piecesDict}}
		<h2 class="mt-5 pt-5">{{categoryName}}</h2>
			{{#each images}}
			<img class="m-3" style="width: 200px; max-height: 200px; display:inline-block; border: 2px solid #c1c1c1;" src="/uploads/{{this}}">
		{{/each}}
		{{/each}}
	</div>
</div>

<!-- Implementing JS function calls -->
<script>
	/*
		Previews the image when it is uploaded before the add form is submitted
		https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded
	*/
	newPiecePhoto.onchange = evt => {
		const [file] = newPiecePhoto.files
		if (file) {
			uploadedPhoto.src = URL.createObjectURL(file)
		}
	}

	/*
		Loads in all the images.
	*/
	function loadImages() {
		fetch('/api/images')
		.then(response => response.json())
		.then(categories => {
			categories.forEach(category => {
				const subcatContainer = document.getElementById(category.name.toLowerCase() + 'DropContent');
				category.images.forEach(image => {
					const imgElem = document.createElement('img');
					imgElem.src = image.url;
					subcatContainer.appendChild(imgElem);
				});
			});
		})
		.catch(error => console.error('Error loading images:', error));
	}

	document.addEventListener('DOMContentLoaded', loadImages);
</script>