{{> message}}
<div class="container col-sm-4">
	<h1>Settings</h1>
	<h2><a class="nav-link" href="/logout">Log out</a></h2>
    <h2><a href="/closetclear">Clear Closet</a></h2>
    <h2 style="color: red;"><a href="/delete">Delete Account</a></h2>
</div>