{{> message}}
<div class="container col-sm-4" style="text-align: center;">
	<h1>Settings</h1>
  <br></br>
	<h2><a class="nav-link" href="/logout">Log out</a></h2>
  <br></br>
    <h2><a href="/closetclear">Clear Closet</a></h2>
    <h2><a href="/delete" style="color: red;">Delete Account</a></h2>
</div>