#homebox {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-bottom: 5vw;
}

#homebox .card{
	width: 35vw;
	margin: 2vw;
}

.navbar-brand {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

body:has(.loginreg) {
	background-color: rgba(129, 121, 212, 255);
}

.loginreg {
	background-color: rgba(255, 255, 255, 0.9); /* Set background color to white with 70% opacity */
	color: Black; /*Changed text color to pop out */
	font-weight: bold;
	margin-top: 45px; /* Add this line to adjust the top margin */
	width: 600px; /*Adjusted to fit the word Registration*/
}
.loginreg input[type="text"], /*Added so that the Username and input were the same size */
.loginreg input[type="password"],
.loginreg textarea {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box; 
}

.custom-alert { /*Modify the message to be light red instead of green to show error*/
	background-color: lightcoral;
	color: black;
	width: 450px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: none;
	outline: none;
	margin-left: 500px;
}

#addPieceDrawer {
	background-color: lightgray;
}

#addPieceDrawer .col-3 {
	text-align:justify;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:start;
	min-width:fit-content;
}

.category-header {
	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}
.outfit-img {
	width: 100%;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
}
.outfit-name {
	cursor: pointer;
	color: #0d6efd;
	font-weight: bold;
}
.outfit-name:hover {
	text-decoration: underline;
}

#addFitPreview {
	background-color: rgb(180, 180, 180);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

#addFitPieces {
	background-color: rgb(235, 235, 235);
}

#homebox .card-body {
	min-height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}